<<<<<<< HEAD
$myColor: salmon;
header {
  background-color: $myColor;
  h1 {
    font-size: 3rem;
  }
  p {
    color: $myColor;
  }
}
=======
$myColor: salmon;
header {
  background-color: $myColor;
  h1 {
    font-size: 3rem;
  }
  p {
    color: $myColor;
  }
}
>>>>>>> 4502e7f71f90d44eeae98026cf7d88f681e5364e
