<<<<<<< HEAD
// .main {
//   background-color: lightblue;
//   .main-heading {
//     font-size: 2em;
//   }
//   .main-paragraf {
//     font-size: 1.4em;
//   }
// }
// .main,
// footer {
//   h1,
//   p {
//     letter-spacing: 1px;
//   }
// }

// &
// Parent Selector
// .main {
//   .container & {
//     background-color: lightblue;
//   }
//   .main-heading {
//     font-size: 2em;
//   }
//   &:hover {
//     background-color: salmon;
//   }
// }
.main {
  #{&}-heading {
    font-size: 1.4em;
  }
  #{&}-paragraf {
    font-size: 1.4em;
  }
}

.footer {
  #{&}-heading {
    font-size: 1.4em;
  }
  #{&}-paragraf {
    font-size: 1.4em;
  }
}
=======
// .main {
//   background-color: lightblue;
//   .main-heading {
//     font-size: 2em;
//   }
//   .main-paragraf {
//     font-size: 1.4em;
//   }
// }
// .main,
// footer {
//   h1,
//   p {
//     letter-spacing: 1px;
//   }
// }

// &
// Parent Selector
// .main {
//   .container & {
//     background-color: lightblue;
//   }
//   .main-heading {
//     font-size: 2em;
//   }
//   &:hover {
//     background-color: salmon;
//   }
// }
.main {
  #{&}-heading {
    font-size: 1.4em;
  }
  #{&}-paragraf {
    font-size: 1.4em;
  }
}

.footer {
  #{&}-heading {
    font-size: 1.4em;
  }
  #{&}-paragraf {
    font-size: 1.4em;
  }
}
>>>>>>> 4502e7f71f90d44eeae98026cf7d88f681e5364e
